 /* .content{
    background-color:#b6b8c1;
    color:black;
    width: 450px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    
}

.container{
    width: 400px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.image{
    width: 360px;
    height: 400px;
    margin:20px;
    border-radius: 10px;

} */

.content{
    background-color: #d5e1ef;
    width: 280px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    padding: 5% 20px 5% 20px;
}

.container{
    background-color: white;
    width: 240px;
    height: auto;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-align: center;
}

.image{
    width: 240px;
    height: 240px;
    border-radius: 10px;

}

.header{
    font-family: 'Times New Roman', Times, serif;
    color:rgba(0, 0, 0, 0.897)

}

.text{
    color: #070707ab;
}